management:
  endpoint:
    health:
      show-details: always
  endpoints:
    jmx:
      exposure:
        include: "*"
    web:
      exposure:
        include: "*"
  server:
    port: 8601
server:
  port: 8600
  servlet:
    context-path: /personkit
spring:
  application:
    name: personkit
  main:
    banner-mode: off
  servlet:
    multipart:
      max-file-size: 1000MB
      max-request-size: 1000MB
  config:
    activate:
      on-profile:
        - security
        - nosql

yishuifengxiao:
  web:
    enable: true
    response:
      enable: true
    cors:
      enable: true
    aop:
      enable: true
    traced:
      enable: true
    error:
      enable: true
  security:
    enable: true
    oauth2server:
      enable: true
  code:
    enable: true
  redis:
    enable: true
  swagger:
    enable: true
